$accent-bcg-gradient-color1: #1E0C00;
$accent-bcg-gradient-color2: #1F0700;
$accent-bcg-gradient-color3: #170A00;
$accent-bcg-gradient-color4: #1E0D00;

$accent-gradient-color1: #FF6432;
$accent-gradient-color2: #FFA228;

$accent-text-gradient-color: linear-gradient(262deg, #FF6432 12.12%, #FFA228 86.72%);
$accent-text-gradientdeg-color: linear-gradient(262deg, #FFA228 12.12%, #FF6432 86.72%);

$accent-btn-gradient-color: linear-gradient(to right, #FFA228, #FF6432, #ff7b4f, #fcad46);
$btn-bcg-color: #1D0800;

$text-color: #A3A3A3;
$text-gradient-color1: linear-gradient(262deg, #A3A3A3,#A3A3A3);
$text-gradient-color2: linear-gradient(262deg, $accent-gradient-color1, $accent-gradient-color2);
$title-color: #FFFFFF;

$svg-color: #FFFFFF;

$white-color: #FFFFFF;



:root {
  --accent-gradient-color1: #{$accent-gradient-color1};
  --accent-gradient-color2:   #{$accent-gradient-color2};
}