<header class="header">
    <div class="container">
        <a href="./index.html" class="header__logo" data-text="pizzashop">pizzashop</a>

        <nav class="header__nav">
            <ul class="header__items">
                <li class="header__item">
                    <a href="./index.html" class="header__item-link header__item-link--active" data-text="Home">Home</a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__item-link" data-text="Menu">Menu</a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__item-link" data-text="Events">Events</a>
                </li>
                <li class="header__item">
                    <a href="#" class="header__item-link" data-text="About us">About us</a>
                </li>
            </ul>
        </nav>

        <div class="header__right">
            <button class="header__login">
                Log in
            </button>

            <button class="header__buy">
                <svg class="header__buy-svg">
                    <use href="#icon-bag"></use>
                </svg>
            </button>

            <button class="header__burger">
                <svg class="header__burger-svg">
                    <use href="#icon-burger-line"></use>
                </svg>
                <svg class="header__burger-svg">
                    <use href="#icon-burger-line"></use>
                </svg>
                <svg class="header__burger-svg">
                    <use href="#icon-burger-line"></use>
                </svg>
            </button>
        </div>
    </div>
</header>