<section class="hero">
    <div class="container">
        <div class="hero__section">
            <img src="#" alt="Pizza" class="hero__img">
        </div>

        <div class="hero__section">
            <div class="hero__infos">
                <h2 class="hero__title">
                    The Fastest Pizza <svg class="hero__title-svg"><use href="./img/symbol-defs.svg#icon-bag"></use>
                    </svg> Delivery
                </h2>
                <p class="hero__text">We will deliver juicy pizza for your family in 30 minutes, if the courier is late
                    -
                    <span class="hero__text-span">pizza is free!</span>
                </p>
            </div>

            <div class="hero__btn">
                <button class="hero__btn-order">
                    <span class="hero__btn-order-span">To order</span>
                </button>
                <button class="hero__btn-menu">
                    <span class="hero__btn-menu-span">Pizza-Menu</span>
                </button>
            </div>

            <div class="hero__video">
                <p class="hero__video-text">Cooking process:</p>
                <div class="hero__video-box">
                    <button class="hero__video-btn"></button>
                    <img src="#" alt="Video Image" class="hero__video-img">
                </div>
            </div>
        </div>
    </div>
</section>